<section class="achievements-section section" id="achievements">
  <div class="achievements-container container">
    <h2 class="achievements-title title">Player Achievements</h2>

    <p class="achievements-slogan">Meet the legends of Dream Match!</p>

    <div class="achievements-img-container">
      <div class="achievements-img-wrapper">
        <img
          src="/img/achievements/achievements-1.png"
          srcset="
            /img/achievements/achievements-1.png    1x,
            /img/achievements/achievements-1@2x.png 2x
          "
          alt="Top Scorers image"
          class="image-frame"
          loading="lazy"
        />
        <div class="achievements-img-hover">
          <h4 class="achievements-hover-title">Top Scorers</h4>
          <p class="achievements-hover-text">
            Players who reached record-breaking points
          </p>
        </div>
      </div>

      <div class="achievements-img-wrapper">
        <img
          src="/img/achievements/achievements-2.png"
          srcset="
            /img/achievements/achievements-2.png    1x,
            /img/achievements/achievements-2@2x.png 2x
          "
          alt="Speed Masters image"
          class="image-frame"
          loading="lazy"
        />
        <div class="achievements-img-hover">
          <h4 class="achievements-hover-title">Speed Masters</h4>
          <p class="achievements-hover-text">
            Puzzle solvers with the fastest times
          </p>
        </div>
      </div>

      <div class="achievements-img-wrapper">
        <img
          src="/img/achievements/achievements-3.png"
          srcset="
            /img/achievements/achievements-3.png    1x,
            /img/achievements/achievements-3@2x.png 2x
          "
          alt="Completionists image"
          class="image-frame"
          loading="lazy"
        />

        <div class="achievements-img-hover">
          <h4 class="achievements-hover-title">Completionists</h4>
          <p class="achievements-hover-text">
            Those who unlocked every single game feature!
          </p>
        </div>
      </div>
    </div>

    <p class="subtitle">Your name could be next in the Hall of Fame!</p>
  </div>
</section>
