<div class="cookie-modal">
  <div class="cookie-modal-content">
    <h2 class="cookie-modal-title">Cookies Policy</h2>
    <p class="cookie-modal-text">
      &nbsp;We use cookies to improve your experience on our website. By
      browsing this website, you agree to our use of cookies
    </p>

    <div class="cookie-modal-btns">
      <button class="cookie-modal-btn accept accent-bg">Accept Cookies</button>
      <button class="cookie-modal-btn decline">Decline Cookies</button>
    </div>
  </div>
</div>
