<section class="corner-section section" id="corner">
  <div class="corner-container container">
    <h2 class="corner-title title">Developer&apos;s Corner</h2>

    <p class="corner-descr">Meet the minds behind Dream Match!</p>

    <ul class="corner-list">
      <li class="corner-item">
        <div class="medium-icon-box">
          <img
            src="/img/smallIcon/lamp.png"
            srcset="/img/smallIcon/lamp.png 1x, /img/smallIcon/lamp@2x.png 2x"
            alt="Glowing lamp symbolizing bright design ideas"
            class="medium-icon"
            width="48"
            height="48"
            loading="lazy"
            aria-hidden="true"
          />
        </div>
        <p class="item-text">
          <span class="corner-bold">Design Inspirations </span>
          &ndash; How the game world was brought to life
        </p>
      </li>

      <li class="corner-item">
        <div class="medium-icon-box">
          <img
            src="/img/smallIcon/music.png"
            srcset="/img/smallIcon/music.png 1x, /img/smallIcon/music@2x.png 2x"
            alt="Musical note representing game sound design"
            class="medium-icon"
            width="48"
            height="48"
            loading="lazy"
            aria-hidden="true"
          />
        </div>
        <p class="item-text">
          <span class="corner-bold">The Art of Sound </span>
          &ndash; The music that sets the mood
        </p>
      </li>

      <li class="corner-item">
        <div class="medium-icon-box">
          <img
            src="/img/smallIcon/message.png"
            srcset="
              /img/smallIcon/message.png    1x,
              /img/smallIcon/message@2x.png 2x
            "
            alt="Chat bubble icon representing team stories"
            class="medium-icon"
            width="42"
            height="42"
            loading="lazy"
            aria-hidden="true"
          />
        </div>
        <p class="item-text">
          <span class="corner-bold">Lunch Break Choices </span>
          &ndash; Fun stories from our dev team!
        </p>
      </li>
    </ul>

    <h3 class="corner-subtitle subtitle">
      Get to know the people who made the magic happen!
    </h3>
  </div>
</section>
