<section class="section">
    <div class="container">
        <div class="features">
        <div class="features-title">
        <h2>Features</h2>
        </div>
        <div class="three-puzzles">
            <p><b> Addictive Match-3 Puzzles –</b>
                Solve unique challenges and tricky levels</p>
        </div>
         <div class="stories">
             <p><b>Heartfelt Stories –</b>
            Restore locations and meet charming characters</p>
        </div>
        <div class="feat-img">
            <img src="/img/features/bg-feat-1x.png" alt="">
        </div>
       <div class="ex-boosters">
             <p><b>Explosive Boosters –</b>
            Unlock powerful tools to blast through obstacles</p>
       </div>
       <div class="events">
        <p><b>Seasonal Events –</b>
            Special challenges and limited-time rewards!</p>
       </div>
        <div class="leader">
        <p><b>Leaderboard Battles –</b>
            Compete for top ranks!</p>
       </div>
        </div>
    </div>
</section>
