<footer class="footer-section">
  <div class="footer-container container">
    <div class="footer-desktop-flex">
      <a href="./index.html" class="footer-logo">
        <img
          src="/img/logo.png"
          srcset="/img/logo.png 1x, /img/logo@2x.png 2x"
          alt="DreamMatch Logo"
          class="logo-img"
          loading="lazy"
        />
      </a>

      <ul class="footer-list">
        <li class="footer-item">
          <a href="./page-privacy-policy.html" class="footer-link"
            >Privacy Policy</a
          >
        </li>
        <li class="footer-item">
          <a href="./page-terms-conditions.html" class="footer-link"
            >Terms and Conditions</a
          >
        </li>
        <li class="footer-item">
          <a href="./page-cookies-policy.html" class="footer-link"
            >Cookies Policy</a
          >
        </li>
      </ul>
    </div>

    <p class="footer-text">&copy;2025 dreammatch.site, All rights reserved</p>
  </div>
</footer>
