<section id="game-overview" class="section over-section">
  <div class="container">
    <div class="game-container">
  <h2>Game Overview</h2>
  <p>Step into Dream Match, where thrilling match-3 gameplay meets a magical world waiting to be restored!</p>
  <div class="play-images-1">
      <div><img src="/img/game-overview/coins-1x.png" class="play-image" alt="img1"></div>
      <div><img src="/img/game-overview/cups-1x.png" class="play-image" alt="img1"></div>
  </div>
  <div class="play-images-1-add">
      <div><img src="/img/game-overview/matches-1x.png" class="play-image-unique play-image" alt="img1"></div>
</div>
      <div class="swap-blast">
        <p><b>Swap & Blast -</b>
        Solve puzzles and clear obstacles</p>
      </div>
       <div class="play-images-2">
      <div><img src="/img/game-overview/lock-1x.png" class="play-image-2" alt="img1"></div>
      <div><img src="/img/game-overview/girl-key-1x.png" class="play-image-2" alt="img1"></div>
  </div>
  <div class="play-images-2-add">
      <div><img src="/img/game-overview/upgrade-1x.png" class="play-image-2 play-image-2-unique" alt="img1"></div>
</div>
<div class="power-ups">
  <p><b>Uncover the Story -</b>
        Help whimsical characters revive forgotten places</p>
</div>
<div class="play-images-3">
      <div><img src="/img/game-overview/grass-1x.png" class="play-image-3" alt="img1"></div>
      <div><img src="/img/game-overview/hammer-1x.png" class="play-image-3" alt="img1"></div>
      <div><img src="/img/game-overview/rubik-1x.png" class="play-image-3 " alt="img1"></div>
     </div>
      <div class="play-images-3-add"><img src="/img/game-overview/cannon-1x.png" class="play-image-3 " alt="img1"></div>
     <div class="boosters">
      <p><b>Unlock Power-ups – </b>
        Use boosters and magic tiles to win big!</p>
</div>
<div class="play-images-4">
      <div class="play-images-4-add"><img src="/img/game-overview/chests-lava-1x.png" class="play-image-4" alt="img1"></div>
      <div class="play-images-4-add"><img src="/img/game-overview/level-1x.png" class="play-image-4" alt="img1"></div>
      <div class="play-images-4-add"><img src="/img/game-overview/dragon-1x.png" class="play-image-4" alt="img1"></div>
</div>
  <div class="global-complete">
    <p><b>Compete Globally –</b>
         Climb the leaderboards and win rewards!</p>
  </div>
  <div class="ready">
    <p>Are you ready to bring the magic back?</p>
  </div>
     </div>
    </div>

  </div>
</section>
