<header class="header container">
  <a href="./index.html" class="logo">
    <img src="/img/logo.png" srcset="/img/logo.png 1x, /img/logo@2x.png 2x" />
  </a>
  <div class="link-container">
    <a href="#game-overview">Game Overview</a>
    <a href="#features">Features</a>
    <a href="#behind-the-pixels">Behind the Pixels</a>
    <a href="#achievements">Player Achievements</a>
    <a href="#secrets">Easter Eggs & Hidden Secrets</a>
    <a href="#game-lore">Game Lore Deep Dive</a>
    <a href="#corner">Developer`s Corner</a>
  </div>
  <button class="burgerBtn" id="burger-btn-js" type="button">
    <svg class="icon-burger"  width="30" height="26">
      <use href="/img/sprite.svg#icon-burger-btn"></use>
    </svg>
  </button>
</header>






<div class="modal container" id="modal">
  <div class="modal-content">
    <button class="close-btn" id="close-btn-js">
      <svg class="icon-burger" fill="#2193ec" width="24" height="24">
        <use href="/img/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>
    <a href="#game-overview">Game Overview</a>
    <a href="#features">Features</a>
    <a href="#behind-the-pixels">Behind the Pixels</a>
    <a href="#achievements">Player Achievements</a>
    <a href="#secrets">Easter Eggs & Hidden Secrets</a>
    <a href="#game-lore">Game Lore Deep Dive</a>
    <a href="#corner">Developer`s Corner</a>
  </div>
</div>
