<header class="header container">
  <div class="logo">
    <a href="./index.html">
      <img src="/img/header/logo-1x.png" />
    </a>
  </div>
  <button class="burgerBtn" id="burger-btn-js" type="button">
    <svg class="icon-burger" fill="currentColor" width="30" height="26">
      <use href="/img/sprite.svg#icon-burger-btn"></use>
    </svg>
  </button>
</header>

<div class="modal container" id="modal">
  <div class="modal-content">
    <button class="close-btn" id="close-btn-js">
      <svg class="icon-burger" fill="#2193ec" width="24" height="24">
        <use href="/img/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>

    <a href="">Game Overview</a>
    <a href="">Features</a>
    <a href="">Behind the Pixels</a>
    <a href="">Player Achievements</a>
    <a href="">Easter Eggs & Hidden Secrets</a>
    <a href="">Game Lore Deep Dive</a>
    <a href="">Developer`s Corner</a>
  </div>
</div>
