<section class="secrets-section section">
  <div class="secrets-container container">
    <h2 class="secrets-title title">Easter stars & Hidden Secrets</h2>

    <img
      src="/img/secrets/secrets-img.png"
      srcset="
        /img/secrets/secrets-img.png    1x,
        /img/secrets/secrets-img@2x.png 2x
      "
      alt="Top Scorers image"
      class="image-frame secrets-image"
      loading="lazy"
    />

    <div class="secrets-text-container">
      <h3 class="list-question subtitle">
        Did you know Dream Match has mysteries waiting to be uncovered?
      </h3>
      <ul class="list">
        <li class="item">
          <img
            src="/img/smallIcon/gift.png"
            srcset="/img/smallIcon/gift.png 1x, /img/smallIcon/gift@2x.png 2x"
            alt="gift icon representing bonus"
            class="small-icon"
            loading="lazy"
            aria-hidden="true"
          />
          <p class="item-text">Hidden bonus levels for sharp-eyed players</p>
        </li>
        <li class="item">
          <img
            src="/img/smallIcon/box.png"
            srcset="/img/smallIcon/box.png 1x, /img/smallIcon/box@2x.png 2x"
            alt="Box icon illustrating secret character"
            class="small-icon"
            loading="lazy"
            aria-hidden="true"
          />
          <p class="item-text">
            Secret character dialogues that change based on your choices
          </p>
        </li>
        <li class="item">
          <img
            src="/img/smallIcon/star.png"
            srcset="/img/smallIcon/star.png 1x, /img/smallIcon/star@2x.png 2x"
            alt="Star icon representing rare power-ups"
            class="small-icon"
            loading="lazy"
            aria-hidden="true"
          />
          <p class="item-text">
            Rare power-ups only available under special conditions
          </p>
        </li>
      </ul>
    </div>

    <h3 class="text subtitle">
    Can you find them all?
  </div>
</section>
