.behind-section {
  background: linear-gradient(
    180deg,
    #abdaff 0%,
    #64bbff 15.38%,
    #64bbff 69.23%,
    #abdaff 88.94%
  );
}

@include media(desktop) {
  .behind-container {
    display: grid;
    grid-template-rows: 48px 659px 78px;
    grid-template-columns: 439px 512px;
    gap: 48px 84px;
  }
}

.behind-title {
  margin-bottom: 16px;

  @include media(desktop) {
    margin-bottom: 0;
    grid-row: 1/1;
    grid-column: 1/3;
  }
}

.behind-image {
  width: 235px;
  height: 353px;
  margin-inline: auto;
  margin-bottom: 16px;

  @include media(desktop) {
    width: 439px;
    height: 659px;
  }
}

.behind-text-container {
  @include media(to-desktop) {
    margin-bottom: 48px;
    padding-inline: 16px;
  }

  @include media(desktop) {
    align-self: center;
  }
}

@include media(desktop) {
  .behind-container > .text {
    grid-row: 3/3;
    grid-column: 1/3;
  }
}
