.features {
   background-image:
   image-set(url('/img/features/one-feat.png')1x, url('/img/features/one-feat-2x.png') 2x),
   image-set(url('/img/features/two-feat.png')1x, url('/img/features/two-feat-2x.png') 2x),
   image-set(url('/img/features/three-feat.png')1x, url('/img/features/three-feat-2x.png') 2x),
   image-set(url('/img/features/four-feat.png')1x, url('/img/features/four-feat-2x.png') 2x),
   image-set(url('/img/features/five-feat.png')1x, url('/img/features/five-feat-2x.png') 2x);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 0 90px, 200px 130px, 7px 755px, 205px 920px, 8px 1038px ;
  padding-bottom: 32px;
  position: relative;
  b {
    font-weight: 600;
    font-size: 16px;
    line-height: 144%;
  }
      @include media(desktop) {
        height: 719px;
      }
}


.features-title {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.feat-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.three-puzzles {
  margin-top: 32px;
  width: 217px;
  min-height: 104px;
  margin-left: 32px;
  text-align: left;
}


.stories {
  margin-top: 16px;
  margin-left: 69px;
  width: 219px;
  height: 78px;
  text-align: left;


  p {
    margin-bottom: 16px;
  }
 
}

.ex-boosters {
  padding-top: 16px;
  width: 192px;
  height: 78px;
  margin-top: 51px;
  margin-left: 27px;
  text-align: left;

}

.events {
  padding-top: 16px;
  margin-left: 69px;
  margin-top: 36px;
  width: 219px;
  height: 70px;
  text-align: left;

}

.leader {
  padding-top: 16px;
  margin-top: 50px;
  width: 176px;
  height: 78px;
  margin-left: 42px;
  text-align: left;
}

    @include media(desktop) {

      .features {
  background-position: 13px 140px, 240px 415px, 940px 190px, 750px 440px, 580px 590px ;
  padding-bottom: 0;

      }







    .leader {
      width: 336px;
      height: 144px;
       display: block;
      position: absolute;
      top: 580px;
      left: 355px;
      margin: 0;
      padding: 0;
      b {
        font-size: 24px;
      }
      p {
        font-size: 24px;
        font-weight: 400;
line-height: 144%;
      }
    }
    .events {
     width: 336px;
      height: 144px;
       display: block;
      position: absolute;
      top: 400px;
      left: 705px;
      margin: 0;
      padding: 0;
      b {
        font-size: 24px;
      }
      p {
        font-size: 24px;
        font-weight: 400;
line-height: 144%;
      }
    }
    .ex-boosters {
      width: 336px;
      height: 144px;
       display: block;
      position: absolute;
      top: 170px;
      left: 705px;
      margin: 0;
      padding: 0;
      b {
        font-size: 24px;
      }
      p {
        font-size: 24px;
        font-weight: 400;
line-height: 144%;
      }
    
    } 
    .stories {
      width: 336px;
      height: 144px;
      display: block;
      position: absolute;
      top: 440px;
      margin: 0;
      padding: 0;
       b {
        font-size: 24px;
      }
      p {
        font-size: 24px;
        font-weight: 400;
line-height: 144%;
      }
    }
    .three-puzzles {
      width: 336px;
      height: 144px;
      display: block;
      position: absolute;
      top: 170px;
      margin: 0;
      padding: 0;
       b {
        font-size: 24px;
      }
      p {
        font-size: 24px;
        font-weight: 400;
line-height: 144%;
      }
    } 
    .feat-img {
      margin-top: 39px;
    }
    }