.features {
   background-image: url('/img/features/one-feat.png'), url('/img/features/two-feat.png'), url('/img/features/three-feat.png'), url('/img/features/four-feat.png'), url('/img/features/five-feat.png') ;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 0 90px, 200px 130px, 7px 755px, 205px 920px, 8px 1038px ;
  padding-bottom: 32px;
  b {
    font-weight: 600;
    font-size: 16px;
    line-height: 144%;
  }
}


.features-title {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.feat-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.three-puzzles {
  margin-top: 32px;
  width: 217px;
  min-height: 104px;
  margin-left: 32px;
  text-align: left;
}


.stories {
  margin-top: 16px;
  margin-left: 69px;
  width: 219px;
  height: 78px;
  text-align: left;


  p {
    margin-bottom: 16px;
  }
 
}

.ex-boosters {
  padding-top: 16px;
  width: 192px;
  height: 78px;
  margin-top: 51px;
  margin-left: 27px;
  text-align: left;

}

.events {
  padding-top: 16px;
  margin-left: 69px;
  margin-top: 36px;
  width: 219px;
  height: 70px;
  text-align: left;

}

.leader {
  padding-top: 16px;
  margin-top: 50px;
  width: 176px;
  height: 78px;
  margin-left: 42px;
  text-align: left;
}