html {
  scroll-padding-top: 68px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  @include media(desktop) {
    scroll-padding-top: 128px;
  }
}

.no-scroll {
  overflow: hidden;
}

.container {
  margin-inline: auto;
  width: 320px;
  padding-inline: 16px;
  text-align: center;

  @include media(desktop) {
    width: 1200px;
    padding-inline: 80px;
  }
}

.section {
  padding-top: 32px;
  padding-bottom: 32px;

  @include media(desktop) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.title {
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  font-size: 24px;

  @include media(desktop) {
    font-size: 40px;
  }
}

.subtitle {
  font-family: 'Fredoka', sans-serif;
  font-weight: 500;
  font-size: 20px;

  @include media(desktop) {
    font-size: 32px;
  }
}

// image shadows and border-radius
.image-frame {
  border-radius: 16px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}

// list styles for behind-the-pixels and secrets sections
.list-question {
  margin-bottom: 32px;

  @include media(desktop) {
    text-align: left;
  }
}

.item:not(:last-child) {
  margin-bottom: 24px;
}

.item {
  display: flex;
  align-items: start;
  gap: 12px;
}

.small-icon-box {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-text {
  text-align: left;
  font-weight: 400;
  line-height: 1.44022;

  @include media(desktop) {
    font-size: 24px;
  }
}

.accent-bg {
  color: #fff;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(137deg, #efc307 0%, #e69d28 100%);
}
