html {
  scroll-padding-top: 68px;
  scroll-behavior: smooth;

  @include media(desktop) {
    scroll-padding-top: 128px;
  }
}

.no-scroll {
  overflow: hidden;
}

.container {
  margin-inline: auto;
  width: 320px;
  padding-inline: 16px;

  @include media(desktop) {
    width: 1200px;
    padding-inline: 80px;
  }
}

.section {
  padding-top: 32px;
  padding-bottom: 32px;

  @include media(desktop) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
