.header {
    width: 320px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    background-color: #CEE9FF8F;

    .logo {
        border-radius: 16px;
        width: 44px;
        height: 44px;
    }

    .burgerBtn {
        width: 44px;
        height: 44px;
        background-color: transparent;
        border: none;
        color: #2193EC;
    }
}