.hero-section {
    padding-top: 32px;
    height: 568px;
    background:
    image-set(
        url('/img/hero/bg-desk-1x.png') 1x,
        url('/img/hero/bg-desk-2x.png') 2x,
    ),
    ;
    background-repeat:  no-repeat;
    background-size:  auto;
    background-position:  center;
padding-bottom: 32px;

  @include media(desktop) {
    height: 668px;
      background-size: cover;
 
  }
}


.hero {
    display: flex;
    flex-direction: column;
    position: relative;
}
.hero-title {
    margin-top: 55px;
    width: 288px;
    height: 114px;
    text-align: left;
    h1 {
    font-family:  "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 119%;
  @include media(desktop) {
    margin-top: 60px;
    margin-left: 440px;
    width: 592px;
    height: 114px;
    font-size: 48px;
}
    }
}

.google-play {
    margin: 16px auto;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #2193ec;
    border-radius: 16px;
    width: 200px;
    height: 56px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    transition: background 0.3s ease;
    &:hover {
      background: #cee9ff;
    }

    h2 {
        font-weight: 500;
        font-size: 18px; 
    }
      @include media(desktop) {
        margin-top: 130px;
        margin-left: 440px;
        
    }
}
.dog {
    position: absolute;
     width: 96px;
    height: 108px;
    top: 435px;
    left: 170px;
  @include media(desktop) {
   img {
   /*   width: 230px;
    height: 258px; */
    display: none;
   }
}
} 

.woman {
    position: absolute;
    width: 185px;
    height: 284px;
    top: 252px;
    left: -10px;
    @include media(desktop) {
   img {
    /*  width: 352px;
    height: 540px; */
    display: none;
   }
}
}