@import './generals.scss';
@import './header.scss';
@import './hero.scss';
@import './game-overview.scss';
@import './features.scss';
@import './behind-the-pixels.scss';
@import './achievements.scss';
@import './secrets.scss';
@import './game-lore.scss';
@import './corner.scss';
@import './footer.scss';
@import './cookie-popUp.scss';
@import './arrow-back.scss';
@import './policy-pages.scss';

:root {
  font-family: Poppins, Fredoka, sans-serif;
  font-size: 16px;
  line-height: 1.44;
  font-weight: 400;

  color: #0a6bb7;
  background-color: #abdaff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
